@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    :root {
        --color-primary: #043668;
        --color-secundary: #056ECF;
        --color-blue-claro: #1282A2;
        --color-write: #FEFCFB;
        --color-bg-opacity: #06274E;
        --color-footer: #02081F;
        --color-navbar: #051C39;
        --color-aside: #062448;

        --menu-height: 65px;
    }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  background: linear-gradient(90deg, #04386B 0%, #0A1128 55.52%) ;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* nav ---------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: var(--menu-height);
    background: var(--color-navbar);
    padding: 0 50px;
    position: sticky;
    top: 0;
    
    z-index: 99;
}

nav img {
    height: 30px;
}

nav ul .menu-icons{
    width: 100%;
    display: flex;
    justify-content: right;
}

nav ul .menu-icons a {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-write);
    
    text-decoration: none;
    padding: 0 25px;
    transition: all 300ms ease;
}

nav ul .menu-icons a svg {
    display: none;
}

nav ul .menu-icons a:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

nav ul .menu-icons span {
    margin-left: 20px;
    border-right: 3px solid var(--color-secundary);
}

nav ul .menu-icons svg {
   height: 30px;
   width: 30px;
   color: var(--color-write);
}

nav ul .menu-icons svg:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

/*  -----------------------------------------------*/

main {
    height: calc(100vh - var(--menu-height));
    display: flex;
}

/* aside ---------------------------------------- */
aside#bio-container {
    height: calc(100vh - var(--menu-height));
    background-color: var(--color-aside);
    text-align: center;
    width: 320px;
    padding: 20px;
    border-right: 5px solid white;
}

/* aside perfil --------------------------------- */

aside .perfil {
    display: flex;
    height: 80px;
    color: var(--color-write);
}

aside .perfil .content-perfil {
    max-height: 80px;
    text-align: left;
    margin: 0 10px 0 15px;
}

aside .perfil .content-perfil h3 {
    font-weight: 400;
}

aside .perfil .content-perfil p {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: -4px;
}

aside .perfil .content-perfil p span {
    font-weight: 800;
    color: var(--color-secundary);
}

aside .perfil .content-perfil h5 {
    font-weight: 400;
    margin-top: 0px;
}

aside .perfil .content-perfil .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 2px;
}

aside .perfil .content-perfil .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}

}

aside .linha-perfil {
    width: 270px;
    height: 2px;
    margin-top: 35px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 50px;
}

/* Top Five ----------------------------------- */

aside .top-five h2{
    font-size: 25px;
    color: var(--color-write);
    font-weight: 600;
    text-align: left;
}

aside .top-five .top-placements {
    display: flex;
}

aside .top-five .top-placements .img-top {
    align-items: center;
    display: flex;
    color: var(--color-write);
    margin-right: 15px;
    margin-top: 15px;
}

aside .top-five .top-placements .img-top p {
    margin-right: 1px;
    font-weight: 500;
}

aside .top-five .top-placements .content-perfil {
    color: var(--color-write);
    margin-top: 15px;
    text-align: left;
}

aside .top-five .top-placements .content-perfil h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

aside .top-five .top-placements .content-perfil h5 {
    margin: 0;
    font-weight: 400;
}

aside .top-five .top-placements .content-perfil .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 3px;
    width: 19vh;
}

aside .top-five .top-placements .content-perfil .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}
}

/* Perfil Content --------------------------------------------*/

section#content {
    padding: 30px 80px;
    width: 100%;
}

section#content .perfil-foto {
    display: flex;
    margin-bottom: 50px;
}

section#content .perfil-foto img {
    width: 15%;
    margin-right: 50px;
}

section#content .perfil-foto .select-image {
    margin-top: 15px;
}

section#content .perfil-foto .select-image p {
    font-size: 1.2em;
    color: var(--color-write);
}

section#content .perfil-foto .select-image input[type="file"] {
    display: none;
}

section#content .perfil-foto .select-image label {
    color: var(--color-write);
    height: 50px;
    width: 600px;
    background-color: #305076;
    border: 2px #305076 solid;
    position: absolute;
    font-size: 20px;
    display: flex;
    border-radius: 10px;
    padding-left: 30px;
    align-items: center;
    cursor: pointer;
}

section#content .perfil-foto .select-image label:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px var(--color-write) solid;
}

section#content .perfil-foto .select-image label svg {
    margin-right: 20px;
}

/* Edition input name*/
section#content .form-container {
    width: 1000px;
}

section#content .form-container .edit-name {
    margin-bottom: 70px;
}

section#content .form-container .edit-name p {
    font-weight: 400;
    font-size: 1.1em;
    color: var(--color-write);
    margin-bottom: 3px;
}

section#content .form-container .edit-name input {
    height: 50px;
    width: 1000px;
    background-color: #305076;
    position: absolute;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: var(--color-write);
}

section#content .form-container .edit-name input::placeholder {
    color: var(--color-write);
}

/* Edition input email*/


section#content .form-container .edit-mail {
margin-bottom: 70px;
}

section#content .form-container .edit-mail p {
    font-weight: 400;
    font-size: 1.1em;
    color: var(--color-write);
    margin-bottom: 3px;
}

section#content .form-container .edit-mail input {
    height: 50px;
    width: 1000px;
    background-color: #305076;
    position: absolute;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: var(--color-write);
}

section#content .form-container .edit-mail input::placeholder {
    color: var(--color-write);
}

/* Edition input password*/
section#content .form-container .edit-password {
    display: flex;
    margin-bottom: 100px;
}

section#content .form-container .edit-password .password {
    margin-right: 465px;
}

section#content .form-container .edit-password p {
    font-weight: 400;
    font-size: 1.1em;
    color: var(--color-write);
    margin-bottom: 3px
}

section#content .form-container .edit-password input {
    height: 50px;
    width: 480px;
    background-color: #305076;
    position: absolute;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: var(--color-write);
}

section#content .form-container .edit-password input::placeholder {
    color: var(--color-write);
}

/* Edition button */
section#content .form-container .btn-edition {
    display: flex;
    justify-content: right;
}

section#content .form-container .btn-edition input {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: var(--color-write);
    background-color: var(--color-bg-opacity);
    border: 1px solid var(--color-write)
}

section#content .form-container .btn-edition input:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-write)
}

section#content .form-container .btn-edition input:nth-child(1) {
    margin-right: 30px;
}