@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0&display=swap");

:root {
    --color-primary: #043668;
    --color-secundary: #056ECF;
    --color-blue-claro: #1282A2;
    --color-write: #FEFCFB;
    --color-bg-opacity: #06274E;

    --menu-height: 65px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  background: linear-gradient(180deg, #04386B 0%, #0A1128 55.52%) ;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 44px;
}

p {
    color: var(--color-write);
}

.title-blue {
    color: var(--color-secundary);
    font-weight: 700;
    margin-bottom: -10px;
}

/* header -----------------------------------------------*/
header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    height: fit-content;
    padding: 0  100px;
}

header .container img {
    display: none;
}
  
header .container button {
    margin-top: 40px;
}

header .container .title-write {
    color: #fff;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
     1px -1px 0px #000,                  
     1px 0px 0px #000;
}

header .container .title-write {
    font-weight: 700;
}

header .container .title-write span {
    color: var(--color-secundary);
    font-size: 55px;
}

header .container p {
    margin-top: -25px;
    font-weight: 400;
    font-size: 20px;
}

header .container button {
    background: var(--color-primary);
    border: 1px solid #FFFFFF;;
    border-radius: 10px;
    padding: 10px 35px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    margin-top: 8px;
}

header .container button:hover {
    background: rgba(255, 255, 255, 0) ;
    border: 1px solid var(--color-secundary);
    border-radius: 10px;
    padding: 10px 35px;
    color: var(--color-secundary);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

/* nav ---------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: var(--menu-height);
    background: var(--color-primary);
    padding: 0 100px;
    position: sticky;
    top: 0;

    z-index: 99;
}

nav img {
    height: 30px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    
  }
  
nav ul a {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-write);

    text-decoration: none;
    padding: 0 25px;
    transition: all 300ms ease;
}
  
nav ul a svg {
    display: none;
}

nav ul a:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

nav ul a:nth-child(4) {
    margin-right: 70px;
}

nav ul a:nth-child(5) {
    border-right: 3px solid var(--color-secundary);
}

/* Sobre ---------------------------------------------*/
.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}



.about-me .container p {
    font-size: 20px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}
  
.about-me .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Trilhas ----------------------------------- */
.trilhas {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.trilhas p {
    font-size: 20px;
    font-weight:300;
    line-height: 30px;
}

.trilha-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto 0;
}

.trilhas .trilha-container .trilha-card {
    max-width: 360px;
    background: var(--color-bg-opacity);
    border: 1px solid var(--color-write);
    color: var(--color-write);
    border-radius: 16px;
    padding: 20px 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.trilhas .trilha-container .trilha-card h2 {
    margin-bottom: 10px;
    font-weight: 600;
}
  
.trilhas .trilha-container .trilha-card img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
  
.trilha-card + .trilha-card {
    margin-left: 10px;
}
