@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    :root {
        --color-primary: #043668;
        --color-secundary: #056ECF;
        --color-blue-claro: #1282A2;
        --color-write: #FEFCFB;
        --color-bg-opacity: #06274E;
        --color-footer: #02081F;
        --color-navbar: #051C39;
        --color-aside: #062448;

        --menu-height: 65px;
    }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* nav ---------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: var(--menu-height);
    background: var(--color-navbar);
    padding: 0 50px;
    position: sticky;
    top: 0;
    
    z-index: 99;
}

nav img {
    height: 30px;
}

nav ul .menu-icons{
    width: 100%;
    display: flex;
    justify-content: right;
}

nav ul .menu-icons a {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-write);
    
    text-decoration: none;
    padding: 0 25px;
    transition: all 300ms ease;
}

nav ul .menu-icons a svg {
    display: none;
}

nav ul .menu-icons a:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

nav ul .menu-icons span {
    margin-left: 20px;
    border-right: 3px solid var(--color-secundary);
}

nav ul .menu-icons svg {
   height: 30px;
   width: 30px;
   color: var(--color-write);
}

nav ul .menu-icons svg:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

/*  -----------------------------------------------*/

main {
    background: linear-gradient(144.92deg, #043667 20.63%, #000C17 79.37%);  
}

/* Titulo */
#title {
    position: relative;
    padding: 30px 60px;
}

#title h1 {
    color: var(--color-write);
    font-size: 3em;
    font-weight: 700;
}

#title p {
    font-size: 1.8em;
    line-height: 120%;
    font-weight: 300;
    color: var(--color-write);
}

#form-content {
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#form-content .form label {
    color: var(--color-write);
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#form-content .form input {
    margin-bottom: 15px;
    padding: 15px;
    width: 60vh;
    height: 50px;

    color: var(--color-write);
    font-size: 1em;
    background: #305076;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

#form-content .form .text-apoio{
    width: 90vh;
}

#form-content img {
    width: 58vh;
    height: 50vh;
}

.line-header{ 
    width: 90%;
    height: 7px;
    border-radius: 50px;
    background: var(--color-write);
    margin: auto;
    margin-bottom: 60px;
}

/* criar aulas */
#create-classes {
    padding: 20px 100px;
}

#create-classes h1 {
    color: var(--color-write);
    font-size: 2.5em;
    margin-bottom: 20px;
}

#create-classes .classes {
    display: flex;
    justify-content: space-between;
}


#create-classes .classes .form label{
    color: var(--color-write);
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

#create-classes .classes .form input {
    margin-bottom: 15px;
    padding: 15px;
    width: 80vh;
    height: 50px;

    color: var(--color-write);
    font-size: 1em;
    background: #305076;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

#create-classes .classes .form input::placeholder {
    color: #9CACB5;
}

#create-classes .classes .form .description {
    height: 20vh;
}

#create-classes .classes .btn-image {
    position: relative;
    padding-right: 80px;
}

#create-classes .classes .btn-image img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 80vh;
    margin-top: -130px;
    
}

#create-classes .classes .btn-image button {
    display: flex;
    margin: auto;
    margin-top: -100px;
    margin-bottom: 80px;
    width: 40vh;
    height: 50px;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--color-write);
    background: linear-gradient(92.27deg, #043667 0%, #000C17 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

}

.line{ 
    width: 90%;
    height: 7px;
    border-radius: 50px;
    background: var(--color-write);
    margin: auto;
    margin-bottom: 100px;
}

.line svg {
    float: right;
    color: var(--color-write);
    width: 50px;
    height: 50px;
    padding-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-finalizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-finalizar button {
    cursor: pointer;
    width: 70vh;
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(92.27deg, #043667 0%, #000C17 100%);
    border: 3px solid #FFFFFF;
    color: var(--color-write);
    font-size: 1.2em;
}