@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0&display=swap");

:root {
    --color-primary: #043668;
    --color-secundary: #056ECF;
    --color-blue-claro: #1282A2;
    --color-write: #FEFCFB;
    --color-bg-opacity: #06274E;
    --color-footer: #02081F;

    --menu-height: 65px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  background: linear-gradient(180deg, #04386B 0%, #0A1128 55.52%) ;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 44px;
}

p {
    color: var(--color-write);
}

.title-blue {
    color: var(--color-secundary);
    font-weight: 700;
    margin-bottom: -10px;
}


/* nav ---------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: var(--menu-height);
    padding: 0 100px;
    position: sticky;
    top: 0;
    
    z-index: 99;
}

nav img {
    height: 30px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    
}

nav ul a {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-write);
    
    text-decoration: none;
    padding: 0 25px;
    transition: all 300ms ease;
}

nav ul a svg {
    display: none;
}

nav ul a:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

nav ul a:nth-child(4) {
    margin-right: 70px;
}

nav ul a:nth-child(5) {
    border-right: 3px solid var(--color-secundary);
}

/* Login -----------------------------------------------*/

main {
    height: calc(100vh - var(--menu-height));
    padding: 0 100px; 
    display: flex;
    max-width: 1550px;
    margin: 80px auto 0;
}

main .form-container {
    height: fit-content;
    padding: 0 100px;

    background: rgba(255, 255, 255, 0.88);
    max-width: 700px;
    min-height: 60vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #001434;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #001434, #020e44 );
}

form {
    display: flex;
    flex-direction: column;
    
}

.input-field {
    position: relative;
    margin-bottom: 1.5rem;
}

/* Linha abaixo do input ------------------------------------------------------- */
.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, var(--color-bg-opacity), var(--color-primary));
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}
/* ---------------------------------------------------------------------------- */

/* Input ---------------------------------------------------------------------- */
.input-field input{
    border: none;
    background: none;
    font-size: 0.9rem;
}
/* --------------------------------------------------------------------------- */

/* Checkbox ------------------------------------------------------------------- */
.input-field span{
    font-size: 12px;
}
/* ---------------------------------------------------------------------------- */

/* Icons do Input ------------------------------------------------------------- */
form .input-field svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    color: var(--color-primary);
}
/* -----------------------------------------------------------------------------*/

/* Buttom --------------------------------------------------------------------- */
form input[type="submit"] {
    margin-top: 0.3rem;
    padding: 0.7rem;
    background: linear-gradient(90deg, #06274E 12.19%, #033A6E 99.21%);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border: none;
    border-radius: 11px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(90deg, #06274E 99.21% , #033A6E 12.19%);
}
/* ----------------------------------------------------------------------------- */

/* Icons Social Media -------------------------------------------------------- */
main .form-container .social-media {
    text-align: center;
}

main .form-container .social-media h3{
    color: var(--color-primary);
    font-size: 15px;
}

main .icons-svg {
    display: flex;
    align-items: center;
}

main .icons-svg a {
    text-decoration: none;
}

main .icons-svg svg {
    width: 58px;
    margin-left: 3rem;
    color: var(--color-primary);
}

main .icons-svg a:first-child svg {
    margin-left: 0;
}
/* -------------------------------------------------------------------------- */

/* Img Planet ---------------------------------------------------------------- */
main .img-container img{
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;   
    margin-top: -50px;
}
/* --------------------------------------------------------------------------- */

