@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    :root {
        --color-primary: #043668;
        --color-secundary: #056ECF;
        --color-blue-claro: #1282A2;
        --color-write: #FEFCFB;
        --color-bg-opacity: #06274E;
        --color-footer: #02081F;
        --color-navbar: #051C39;
        --color-aside: #062448;

        --menu-height: 65px;
    }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  background: linear-gradient(90deg, #04386B 0%, #0A1128 55.52%) ;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* nav ---------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: var(--menu-height);
    background: var(--color-navbar);
    padding: 0 50px;
    position: sticky;
    top: 0;
    
    z-index: 99;
}

nav img {
    height: 30px;
}

nav ul .menu-icons{
    width: 100%;
    display: flex;
    justify-content: right;
}

nav ul .menu-icons a {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-write);
    
    text-decoration: none;
    padding: 0 25px;
    transition: all 300ms ease;
}

nav ul .menu-icons a svg {
    display: none;
}

nav ul .menu-icons a:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

nav ul .menu-icons span {
    margin-left: 20px;
    border-right: 3px solid var(--color-secundary);
}

nav ul .menu-icons svg {
   height: 30px;
   width: 30px;
   color: var(--color-write);
}

nav ul .menu-icons svg:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

/*  -----------------------------------------------*/

main {
    height: calc(100vh - var(--menu-height));
    display: flex;
}

/* aside ---------------------------------------- */
aside#bio-container {
    height: calc(100vh - var(--menu-height));
    background-color: var(--color-aside);
    text-align: center;
    width: 320px;
    padding: 20px;
    border-right: 5px solid white;
}

/* aside perfil --------------------------------- */

aside .perfil {
    display: flex;
    height: 80px;
    color: var(--color-write);
}

aside .perfil .content-perfil {
    max-height: 80px;
    text-align: left;
    margin: 0 10px 0 15px;
}

aside .perfil .content-perfil h3 {
    font-weight: 400;
}

aside .perfil .content-perfil p {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: -4px;
}

aside .perfil .content-perfil p span {
    font-weight: 800;
    color: var(--color-secundary);
}

aside .perfil .content-perfil h5 {
    font-weight: 400;
    margin-top: 0px;
}

aside .perfil .content-perfil .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 2px;
}

aside .perfil .content-perfil .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}

}

aside .linha-perfil {
    width: 270px;
    height: 2px;
    margin-top: 35px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 50px;
}

/* Top Five ----------------------------------- */

aside .top-five h2{
    font-size: 25px;
    color: var(--color-write);
    font-weight: 600;
    text-align: left;
}

aside .top-five .top-placements {
    display: flex;
}

aside .top-five .top-placements .img-top {
    align-items: center;
    display: flex;
    color: var(--color-write);
    margin-right: 15px;
    margin-top: 15px;
}

aside .top-five .top-placements .img-top p {
    margin-right: 1px;
    font-weight: 500;
}

aside .top-five .top-placements .content-perfil {
    color: var(--color-write);
    margin-top: 15px;
    text-align: left;
}

aside .top-five .top-placements .content-perfil h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

aside .top-five .top-placements .content-perfil h5 {
    margin: 0;
    font-weight: 400;
}

aside .top-five .top-placements .content-perfil .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 3px;
    width: 19vh;
}

aside .top-five .top-placements .content-perfil .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}
}

/* Right Content */

section#content {
    padding: 40px 0 0 50px;
}

section#content .perfil-container {
    display: flex;
    margin-bottom: 50px;
}

section#content .perfil-container .perfil-text {
    margin: 20px 0px 0 40px;
    color: var(--color-write);
}

section#content .perfil-container .perfil-text h1 {
    font-weight: 500;
}


section#content .perfil-container .perfil-text p {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
}

section#content .perfil-container .perfil-text .progress {
    height: 10px;
    width: 60vh;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 2px;
}

section#content .perfil-container .perfil-text .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}

}

section#content .perfil-container button {
    background: var(--color-primary);
    border: 1px solid #FFFFFF;;
    border-radius: 10px;
    padding: 10px 35px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

section#content .perfil-container button:hover {
    background: rgba(255, 255, 255, 0) ;
    border: 1px solid var(--color-secundary);
    color: var(--color-secundary);
}